<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.gestionDeClientes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GestionDeClientes</name>
    <description>
        Una aplicación que te ayudará a gestionar de una manera efectiva, intuitiva y facil tus clientes
    </description>
    <author email="josedanielmolina323@gmail.com" href="">
        Jose Daniel Molina
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/images/icon.png" platform="android" density="mdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
